# Bỏ qua tất cả mọi file/thư mục con bên trong data (như .csv, .json)
Group_11/data/*

# Ngoại trừ file nén .zip chứa dataset để được đẩy lên GitHub
!Group_11/data/*.zip

# Bỏ qua các file cache của Python/Jupyter
__pycache__/
.ipynb_checkpoints/
